<div class="col-sm-9 col-md-10 main">
    <div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>
    <h2 class="page-header">{{model.school.name}}</h2>

    <br/>
    <br/>

    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td><b>City</b></td>
                <td>{{model.school.city}}</td>
            </tr>
            <tr>
                <td><b>County</b></td>
                <td>{{model.school.county}}</td>
            </tr>
            <tr>
                <td><b>State</b></td>
                <td>{{model.school.state}}</td>
            </tr>
            <tr>
                <td><b>Zip Code</b></td>
                <td>{{model.school.zip}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4>Existing Classes</h4>
    <ul>
        <li ng-repeat="class in model.school.classes">
            <a ng-href="#/classDetail/{{class._id}}">{{class.name}}</a>
        </li>
    </ul>
    <div ng-show="model.isTeacher">
        <form>
            <div class="form-group">
                <label for="inputClassName" class="col-sm-4 control-label">Name for New Class</label>
                <div class="col-sm-6 col-md-5">
                    <input ng-model="model.newClassName" type="text" class="form-control" id="inputClassName"
                           placeholder="Name for the New Class">
                </div>
            </div>
        </form>
        <button ng-click="model.newClass(model.newClassName)">Create Class</button>
    </div>
</div>
