<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Quiz List</h1>
    <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
    <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th nowrap>
                        Student
                    </th>
                    <!--<th nowrap><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Form Name-->
                    <!--</th>-->
                    <th nowrap>
                        Grade
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(sid, grade) in currentQuiz.grades">
                    <td>
                        <a href="#/profile">{{sid}}</a>
                    </td>
                    <td>{{grade}}</td>
                    </tr>
                </tbody>
                </table>
        </div>
</div>
<div class="col-sm-6 col-md-5">
    <button ng-click="backToClass()" class="btn btn-primary btn-block">Back</button>
</div>
