<div class="col-sm-9 col-md-10 main">
    <h1 class="page-header">School Search</h1>
    <!--<h3>Step 1 find your school</h3>-->
    <!--<h3>Step 2 find your class</h3>-->
    <!--<h3>Step 3 join class and start quizzing!</h3>-->

    <input ng-model="model.school.name"
           class="form-control"
           placeholder="Any related terms..."/>

    <button ng-click="model.search(model.school)"
            class="btn btn-primary btn-block">
        Search
    </button>

    <div ng-if="model.data">
        <table class="table table-striped">
            <thead>
            <tr>
                <th nowrap>School ID</th>
                <th nowrap>School Name</th>
                <th nowrap>City</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sc in model.data.records track by sc.UNITID">
                <td>{{sc.UNITID}}</td>
                <td>
                    <a href="#/details/{{sc.UNITID}}" ng-click="model.details($index)">
                    <!--<a ng-click="details($index)">-->
                        {{sc.INSTNM}}
                    </a>
                </td>
                <td>{{sc.CITY}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
